.menu {
    width:100vw;
    max-width:100%;
    display:flex;
    justify-content:space-around;
    position:fixed;
    transition:opacity 0.5s;
    z-index:1;
  }
  
  .menu li {
    padding:30px;
    list-style: none;
  }
  
  .menu li a {
    color:white;
    text-decoration:none;
    font-weight:900;
  }