.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__link {
    display: block;
    padding: 1em;
    text-decoration: none;
    background-color: #eee;
}
.navbar__link:first-child {
    border-radius: 1em 0 0 1em;
}

.navbar__link:last-child {
    border-radius: 0 1em 1em 0;
}

.navbar__link:hover {
    background-color: #666;
    color: #fff;
}