.container {
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	width:100vw;
	max-width:100%;
	height:100vh;
  }
  
  
  .under-container {
	width:100vw;
	max-width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
  }

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	
  }
  
  .social-links {
	background: #fff;
	display: flex;
	padding: 50px 25px;
	margin: 0;
	border-radius: 12px;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.1);
  }
  .social__link {
	flex: 1;
	list-style: none;
	width: 100px;
	height: 100px;
	margin: 0 25px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgba(0, 0, 0, 0.25);
	position: relative;
	transition: 0.6s ease;
  }
  .social__link::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -50px;
	width: 100%;
	height: 100%;
	opacity: 0.25;
	background: #fff;
	transition: 0.6s ease;
	-webkit-animation: blob 12s linear infinite alternate;
			animation: blob 12s linear infinite alternate;
  }
  .social__link.link--linkedin::before {
	background: linear-gradient(165deg, #1DA1F2, #657786);
  }
  .social__link.link--github::before {
	background: linear-gradient(165deg, #A54AAF, #4D277C);
  }
  .social__link.link--instagram::before {
	background: linear-gradient(165deg, #405de6, #fd1d1d);
  }
  .social__link.link--gmail::before {
	background: linear-gradient(165deg, #B7B7B7, #D0493C);
  }
  .social__link a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
  }
  .social__link i {
	position: relative;
	z-index: 1;
  }
  .social__link:hover {
	color: #fff;
  }
  .social__link:hover:before {
	opacity: 1;
  }
  
  @-webkit-keyframes blob {
	0%,
	  100% {
	  border-radius: 43% 77% 80% 40% / 40% 40% 80% 80%;
	}
	20% {
	  border-radius: 47% 73% 61% 59% / 47% 75% 45% 73%;
	}
	40% {
	  border-radius: 46% 74% 74% 46% / 74% 58% 62% 46%;
	}
	60% {
	  border-radius: 47% 73% 61% 59% / 40% 40% 80% 80%;
	}
	80% {
	  border-radius: 50% 70% 52% 68% / 51% 61% 59% 69%;
	}
  }
  
  @keyframes blob {
	0%,
	  100% {
	  border-radius: 43% 77% 80% 40% / 40% 40% 80% 80%;
	}
	20% {
	  border-radius: 47% 73% 61% 59% / 47% 75% 45% 73%;
	}
	40% {
	  border-radius: 46% 74% 74% 46% / 74% 58% 62% 46%;
	}
	60% {
	  border-radius: 47% 73% 61% 59% / 40% 40% 80% 80%;
	}
	80% {
	  border-radius: 50% 70% 52% 68% / 51% 61% 59% 69%;
	}
  }
  